.custom-modal-overlay.jsModalOverlay
.custom-modal.jsCustomModal
    a.modal-close.jsModalClose(href='javascripts:void(0)') X
    .custom-modal-body
        .product-detail
            .separator
            h3.product--name PAISLEY JEAN
            h2.product--price
            sup $
            |  21
            .product--color
                strong PAISLEY
                label.color-code.beige.active b
                label.color-code.green g
            .product--selectControls
                select
                    option Size
                select
                    option Qty: 1
            .product--action
                button.btn.btn-primary EDIT
                a(href='#') See product details
        .product-image
            img(src='../images/P1.jpg', alt='pant-thumb')
